pkgbase = larksuite-bin
	pkgdesc = Linux client of Lark Suite
	pkgver = 7.42.17
	pkgrel = 1
	url = https://www.larksuite.com
	install = larksuite-bin.install
	arch = x86_64
	license = unknown
	depends = ca-certificates
	depends = gtk3
	depends = libpulse
	depends = libmfx
	depends = alsa-lib
	depends = xdg-utils
	depends = appmenu-gtk-module
	optdepends = appmenu-gtk-module: Appmenu support
	provides = bytedance-lark
	provides = lark
	replaces = bytedance-lark-dev-bin
	options = !emptydirs
	source = https://lf16-larkappversion-sign.larksuitecdn.com/obj/lark-artifact-storage/12b1adb3/Lark-linux_x64-7.42.17.deb?lk3s=fb957577&x-expires=1751521272&x-signature=zbyrrVf8UjDYt99ky4zR0YcX4Io%3D
	sha256sums = 7eeb1495f6488d9e754a76e0d962518591b043ecadcd8f3c6a66d51d27c3d269

pkgname = larksuite-bin
